.card .card-image {
    padding-bottom: 100%;
    background-image: url('/img/no_thumb.jpg');
    background-size: contain;
    img {
        opacity: 0;
        position: absolute!important;
        animation: fadein .75s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
    }
}
.card {
    opacity: 0;
    animation: fadein .75s;
    animation-fill-mode: forwards;
}
