.cursor-pointer{
    cursor: pointer;
}
.pagination{
    text-align: center;
}
.no-padding{
    padding: 0;
}
/**
 * Fix the drinks floating to the right, when of different size
 */
@media #{$medium-only}{
    .drink-container:nth-child(2n+2) {
        clear: left;
    }
}
@media #{$large-only} {
    .drink-container:nth-child(3n+2) {
        clear: left;
    }
}
@media #{$extra-large-and-up} {
    .drink-container:nth-child(4n+2) {
        clear: left;
    }
}
