.cursor-pointer{
    cursor: pointer;
}
.pagination{
    text-align: center;
}
@media #{$medium-only}{
    .drink-container:nth-child(2n+2) {
        clear: left;
    }
}
@media #{$large-only} {
    .drink-container:nth-child(3n+2) {
        clear: left;
    }
}
@media #{$extra-large-and-up} {
    .drink-container:nth-child(4n+2) {
        clear: left;
    }
}
.fab-btn-left-bottom{
    z-index: 1001;
    left: 45px;
    bottom: 45px;
}
.no-padding{
    padding: 0;
}
.card .card-image img {
    position: absolute!important;
}
